* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: #fff;
}

.container {
   margin-top: 5%;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 15%);
    display: block;
    background: #fff;
    width: 410px;
    padding: 30px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 600px) {
    .container {
        width: 90vw;
        padding: 24px;
    }
}

.container .text {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.container form {
    margin-top: 20px;
}

.container form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data label {
    font-size: 14px;
}

form .data input {    
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

form .data input:focus {
    border-color: #3498db;
    border-bottom-width: 2px;
}

form .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .btn .inner {
    height: 100%;
    width: 100%;
    position: absolute;
    /* left: -100%; */
    z-index: -1;
    border-radius: 10px;

    background: -webkit-linear-gradient(right, #56d8e4, #26dbe1, #56d8e4, #26dbe1);
    /* transition: all 0.4s; */
}

form .btn:hover .inner {
    left: 0;
}

form .btn button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 20px;
    background: -webkit-linear-gradient(right, #56d8e4, #26dbe1, #56d8e4, #26dbe1);
}

.small-text {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 11px;
    text-align: left;
    color: #616161;
    letter-spacing: 1px;
    padding: 8px;
}

.divider-container {
    position: relative;
    text-align: center;
    margin: 8px;
}

.divider-container span {
    position: relative;
    width: 10vw;
    background-color: #fff;
    display: inline-block;
}

.divider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background-color: #616161;
}

.label-text {
    margin-bottom:1px;
    font-size: 12px;
    color: #999;
}

.sero-btn {
    margin-top: 24px;
    height: 45px;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    background-color: #98dde3;
}

.sero-btn-back {
    margin-top: 15px;
    height: 45px;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    background-color: #000;
}

.sero-btn-next {
    margin-top: 5px;
    height: 45px;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    background-color:#98dde3;
}

@media (max-width: 600px) {
    .agree-link-container label {
        font-size: 10px;
    }

    .agree-link-text {
        font-size: 10px;
    }

    .myro-btn {
        margin-top: 8px;
        height: 40px;
    }

    .myro-btn-back {
        margin-top: 8px;
        height: 40px;
    }

    .uk-input {
        margin-top: 24px;
        height: 45px;
        width: 100%;
        border: 1px solid #e5e5e5;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 4px;
        background-color: #fff;
        height: 32px !important;
    }
}