@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    /* background: #fafafa; */
}
input[type='password'] {
    font-family: sans-serif, 'Montserrat';
}
.show-btn {
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.show-btn,
.container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.container {
   margin-top: 8%;
    display: block;
    background: #fff;
    width: 410px;
    padding: 30px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
}
@media (max-width: 600px) {
    body {
        background: #fff;
    }
    .container {
        width: 90vw;
        box-shadow: unset;
    }
}

.container .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
}
.container .close-btn:hover {
    color: #3498db;
}
.container .text {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}
.container .form-container {
    margin-top: -20px;
}
.container .form-container .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}
.form-container .data label {
    font-size: 14px;
}
.form-container .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 !important;
}
.form-container .data input:focus {
    border-color: #3498db;
    border-bottom-width: 2px;
}
.form-container .forgot-pass {
    margin-top: -8px;
    font-size: 14px;
}
.form-container .forgot-pass a {
    color: #3498db;
    text-decoration: none;
}
.form-container .forgot-pass a:hover {
    text-decoration: underline;
}
.form-container .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.form-container .btn .inner {
    height: 100%;
    width: 100%;
    position: absolute;
    /* left: -100%; */
    z-index: -1;
    border-radius: 10px;

}
.form-container .btn:hover .inner {
    left: 0;
}
.form-container .btn button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #98dde3;
}
.form-container .signup-link {
    text-align: center;
    font-size: 14px;
}
.form-container .signup-link a {
    color: #3498db;
    text-decoration: none;
}
.form-container .signup-link a:hover {
    text-decoration: underline;
}

.small-text {
    font-size: 12px;
    text-align: center;
    color: #616161;
    letter-spacing: 1px;
}

.sns-text {
    font-size: 12px;
    text-align: center;
    color: #000;
    letter-spacing: 1px;
}

.divider-container {
    position: relative;
    text-align: center;
    margin: 8px;
}
.divider-container span {
    position: relative;
    width: 10vw;
    background-color: #fff;
    display: inline-block;
    color: #616161;
}

.divider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
}
.socialBtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 16px 0;
}
.socialBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.socialBtn-image-container {
    cursor: pointer;
}

.kakaoBtn {
    width: 100%;
    margin: 8px 0 !important;
    background-color: transparent;
}

.naverBtn {
    width: 100%;
    margin: 8px 0 !important;
    background-color: transparent;
}
.socialBtn-container img {
    max-height: 48px !important;
}